<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
	<nav>
	<ul>
		<li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
	</ul>
	</nav>
	{% if current_user.is_authenticated %}
	<div class="files">
        <button onclick="window.history.back();">< back</button>
        <ul>
            {% for file in files %}
            <li>
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                    {{ (request.path + '/' if request.path != '/' else '') + file }}
                </a>
            </li>
            {% endfor %}
            </ul>
     </div>
	{% else %}
	<h1>You must log in to view any content.</h1>
    <img src="{{ url_for('static', filename='ysnp.gif') }}">
	{% endif %}
</body>
</html>
